*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
}
nav {
        font-size:30px;
        color: black;
        background-color: burlywood;
        height: 110px;
        text-align: center;
        padding-top: 30px;
        
        border-bottom-style: solid;
}
h3{
        text-align: center;
        font-size:30px;
}
.center{
        margin-top: 20px;
        text-align: center;
}
button{
       
        justify-content: center;
        background-color:blanchedalmond;
        padding: 10px;
        font-size: 20px;
        width: 190px;
        margin : 5px 40% auto ;
        text-align: center;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);   
}

button:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.problem1, .problem2, .problem3, .problem4{
        margin: 70px 100px ;
}
.problem{
        width:70%;
        margin : 20px auto ;
}
hr{
        margin-left: -30%;
        width:151%;
        border: 1px solid black;
}

@media screen and (max-width: 800px) {
        
        .problem1, .problem2, .problem3, .problem4{
                margin : 5% 5% auto ;
        }
        button{
                margin : 20px auto ;
        }
}